html, body {
  height: 100%;
  margin: 0;
}

.btn:focus {
  outline: none;
}

#App {
  background-color: #FED0D4;
  position: relative;
  min-height: 400px;
  margin: auto;
  height: 100%;   
}

/* navbar container (text color) */
.navbar-default .navbar-nav > li > a {
  color: #333;
}

/* navbar ul */

.navbar-nav {
  margin: 0 -15px;
}

/* navbar current tab */
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  background-color:#9EC2E4;
  border-color:#9EC2E4;
  background-image: none;
  color: #333;
}

/* navbar tab mouseover */
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background-color:#FFCFAB;
  border-color:#FFCFAB;
  background-image:none;
  color: #333;
}

/* navbar mobile menu standing */
.navbar-default .navbar-toggle {
  background-color:#F9646F;
  background-image:none;
}

/* navbar mobile menu mouseover/focus */
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color:#F9646F;
  background-image:none;
}



