html, body {
  height: 100%;
  margin: 0;
},

#App {
  background-color: #B31C1C;
  position: relative;
  min-height: 400px;
  margin: auto;
  height: 100%;   
},

.test {
  background-color: #B31C1C;
  position: relative;
  min-height: 400px;
  margin: auto;
  height: 100%;  
}